.article-content{
  width: 564px;
  margin-left: auto;
  margin-right: auto;
}


.article-show__goback-button-div{
  margin-bottom: 43px;
}

.article-show__category-tag{
  background-color: $gold;
  color: black;
  font-weight: bold;
  font-size: 20px;
  padding: 1px 15px;
  border-radius: 20px;
}

.article-show__date-tag{
  color: rgba(255, 255, 255, 0.404);
  font-weight: bold;
  font-size: 20px;
  padding: 4px 15px;
  border-radius: 1px;
}

.article-show__category-date-div{
  margin-bottom: 24px;
}

.article-show__goback-button{
  font-size: 18px;
  color: $light-purple;
  text-decoration: none;
  &:hover{
    color: $purple;
  }
}

.article-show__title{
  font-size: 40px;
}

.trix-content {
  width: 564px;
  font-size: 1.4rem;
  margin-left: auto;
  margin-right: auto;
  color: #c0c0c0;
}



.article-show__summary{
  color: #c0c0c0;
  font-size: 1.4rem;
  line-height: 2rem;
}

.article-show__main-image{
  border-radius: 5px;
}

.attachment__caption{
  text-align: center;
  font-style: italic;
}


.br {
  display: block;
  margin-bottom: 2rem;
}


.article-show__shortcuts-div{
  display: flex;
  justify-content: space-between;
}

.article-show__editor-div{
  display: flex;
  gap: 25px;
}
