.article-form__title-input {
  color: white;
  width: 100%;
  background: none;
  border: none;

  &:focus{
    outline: none;
  }
}

.article-form__summary-input {
  background: none;
  border: none;
  font-size: 1.2rem;
  font-style: italic;
  color: white;
  width: 100%;
  &:focus{
    outline: none;
  }
}

#article_content{
  width: 564px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #7a57d1;
  padding-left: 2px;
  padding-right: 2px;
  color: #c0c0c0;
  border-radius: 10px;
}




.article-form__save-button{
  background-color: #d4af37;
  font-weight: 700;
  font-size: 1.5em;
  border-radius: 25px;
  padding: 2px 20px;
  &:hover{
    border: 1px solid #d4af37;
    color: #d4af37;
  }
}

.article-form__label{
  font-size: 30px;
  margin-top: 30px;
  border-bottom: 1px solid white;
  width: 100%;
  margin-bottom: 20px;
}

.article-form__photo-input{
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}


trix-toolbar .trix-button--icon-code {
  display: none;
}

trix-toolbar .trix-button--icon-quote {
  display: none;
}

trix-toolbar .trix-button--icon-decrease-nesting-level {
  display: none;
}

trix-toolbar .trix-button--icon-increase-nesting-level {
  display: none;
}

trix-toolbar .trix-button--icon-bold {
  font-weight: bolder;
}
trix-toolbar .trix-button--icon-italic {
  font-style: italic;
}

trix-toolbar .trix-button--icon-strike {
  text-decoration: line-through;
}

.form-actions{
  display: flex;
  justify-content: center;
}


.article-form__secondary-links{
  text-decoration: none;
  color: #c0c0c0;
  &:hover{
    text-decoration: underline;
    color: #ffffff;
  }
}

.trix-button{
  width: 18px;

}

.trix-button--icon{
  background-color: #383737;
  border-radius: 2px;
}

.trix-button-group--block-tools{
  margin-right: 20px;
}

.trix-button-row{
  width: 280px;
  margin-right: auto;
  border-radius: 6px;
  margin-left: auto;
  display: flex;
  justify-content: center;
  padding: 5px 0;
  border: 1px solid #5b5b5b;
}

.article-form__secondary-links-div{
  display: flex;
  justify-content: center;
  column-gap: 10px;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
}

.trix-dialogs{
  padding: 4px;
  width: 350px;
  margin-left: auto;
  margin-right: auto;
  background-color: #7a57d1;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 6px;
  text-align: center;

}

#trix-toolbar-1{
  position: sticky;
}

.attachment{
  margin:30px 0px 20px 0;
}


.form-inputs{
  width: 564px;
  margin-left: auto;
  margin-right: auto;
}

.trix-editor__youtube-thumb-div{
  margin-left: auto;
  margin-right: auto;
}

.trix-button-group--text-tools{
  margin-right: 20px;
}
.trix-button-group--file-tools{
  margin-right: 20px;
}
