.trix-content {
  width: 824px;
  margin-left: auto;
  margin-right: auto;
  border-left: 8px solid #7a57d1;

  padding-left: 10px;
  padding-right: 0px;
  color: #c0c0c0;
}


.article-show__title{
  font-size: 5.5em;
  text-align: center;
  font-style: oblique;
  color: #d4af37;
}

.article-show__summary{
  color: #c0c0c0;
  font-style: italic;
  font-size: 1.5em;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.attachment__caption{
  text-align: center;
  font-style: italic;
}
