<h1 class="article-form__form-title mb-5">Editando Artigo</h1>

<%= render "form", article: @article %>

<br>

<div class="article-form__secondary-links-div">
  <%= link_to "Mostrar artigo", @article, class: "article-form__secondary-links"%> |
  <%= link_to "Voltar para artigos", root_path , class: "article-form__secondary-links"%>
</div>
