<h1 class="article-form__form-title mb-5">Editando Artigo</h1>

<%= render "form", article: @article %>

<br>

<div>
  <%= link_to "Show this article", @article %> |
  <%= link_to "Back to articles", root_path %>
</div>
