<p style="color: green"><%= notice %></p>

<h1>Articles</h1>

<div id="articles">
  <% @articles.each do |article| %>
    <h3><%= article.title %></h3>
    <p><em><%= article.summary %></em></p>
    <p>
      <%= link_to "Continuar lendo", article %>
    </p>
  <% end %>
</div>
