// .navbar-lewagon {
//   justify-content: space-between;
//   background: white;
// }

// .navbar-lewagon .navbar-collapse {
//   flex-grow: 0;
// }

// .navbar-lewagon .navbar-brand img {
//   width: 40px;
// }

.navbar--div{
  padding: 0 20px;
  background-color: rgba(245, 245, 245, 0.022)!important;
}

.navbar-brand{
  color: #6b3fA0;
  font-weight: bold;
  &:hover{
    text-decoration: underline;
    color: #6b3fA0;
  }
}


.navbar__new-article-button{
  text-decoration: none;
  color: #c0c0c0;
  &:hover{
    text-decoration: underline;
    color: #ffffff;
  }
}
